div {
    margin: 20px;
    padding: 4px;
    border: solid 1px gray; 
}
h3 {
    color: darkkhaki;
}
h4 {
    color: goldenrod;
}
input {
    margin-left: 1em;
}
.hideOff{
    color: green;
    text-transform: uppercase;
}
.hideOn{
    color: red;
    text-transform: lowercase;
}
