div {
    margin: 20px;
    padding: 4px;
    border: solid 1px gray; 
}
.hideOff{
    color: green;
    text-transform: uppercase;
}
.hideOn{
    color: red;
    text-transform: lowercase;
}
.app-component {
    text-align: center;
    border: #bbb 2px solid;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 1em;
}
